.button {
  font: inherit;
  border: 1px solid #ae1091;
  background: #0ec855;
  color: rgb(10, 9, 9);
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #04ff2a;
  border-color: #741188;
}

.button:focus {
  outline: none;
}
